<div class="ui modal" id="upload-user-modal">
  <div class="header">Upload a new document</div>
  <div class="content">
    <form action="{% url 'user:upload' %}" method="post" class="ui form" id="upload-user-form" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="field">
        <label for="name">Document type</label>
        <select class="ui dropdown" name="name" id="name">
          <option value="">Document type</option>
          {% for name in document_name_set %}
          <option value="{{name.pk}}">{{name.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label for="file" class="ui icon button">
          <i class="file icon"></i>
          File
        </label>
        <input type="file" id="file" style="display:none" name="file">
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui negative button">Cancel</button>
    <input class="ui positive button" type="submit" form="upload-user-form"/>
  </div>
</div>
<script>
</script>