[run]
branch = True
source = .

[report]
omit = 
    shopping_ms/asgi.py
    shopping_ms/wsgi.py
    manage.py
    **/migrations/*.py
fail_under = 90
show_missing = True
skip_covered = True
# “Name”, “Stmts”, “Miss”, “Branch”, “BrPart”, or “Cover”
sort = Name