{% extends 'customer/base.html' %}

{% block view %}
<div class="ui horizontal divider">Customers</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Size</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  {% for customer in customer_set %}
    <tr class="{% if customer.issues %}error{% endif %}">
      <td><a href="{% url 'customer:show' customer.id %}">{{customer.name}}</a></td>
      <td>
        <i class="{{customer.country.icon}} flag"></i>
        {{customer.country}}
      </td>
      <td>{{customer.size}}</td>
      <td class="right aligned">
        {% if customer.issues %}
        {{customer.issues|first}}
        <div class="ui red label">{{customer.issues|length}}</div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock view %}