<div class="ui modal" id="edit-user-modal">
  <div class="header">Edit {{user.first_name}} {{user.last_name}} profile</div>
  <div class="scrolling content">
    <form id="edit-user-form" action="{% url 'user:me' %}" method="post" class="ui form" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="field">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" value="{{user.first_name}}">
      </div>
      <div class="field">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" value="{{user.last_name}}">
      </div>
      <div class="field">
        <label for="photo" class="ui icon button">
          <i class="file image icon"></i>
          Photo
        </label>
        <input type="file" id="photo" style="display:none" name="photo">
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" value="{{user.email}}">
      </div>
      <div class="field">
        <label for="phone_number">Phone number</label>
        <input type="text" name="phone_number" value="{{user.phone_number}}">
      </div>
      <div class="field">
        <label for="social_security_number">Social security number</label>
        <input type="text" name="social_security_number" value="{{user.social_security_number}}">
      </div>
      <div class="field">
        <label for="biography">Biography</label>
        <textarea name="biography">{{user.biography}}</textarea>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui negative button">Cancel</button>
    <input class="ui positive button" type="submit" form="edit-user-form"/>
  </div>
</div>
<script>
</script>