<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.css" integrity="sha256-bsldvM021p5UCjvLS1wzZRXoL0B0bR5TpK1PxjWQpJY=" crossorigin="anonymous" />
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js" integrity="sha256-WTQFsw74IXBZWoXA8AnKpma22rW8qdBQvbiMgDEpKew=" crossorigin="anonymous"></script>
{% include 'navbar.html' %}
{% block app %}
{% endblock app %}

  {% for title, error in form.errors.items %}
  <script>
  $('body').toast({
    class: 'error',
    title: '{{title}}',
    message: '{{error}}',
    displayTime: 0,
  })
  </script>
  {% endfor %}

  {% for message in messages %}
  <script>
  $('body').toast({
    message: '{{message}}',
    displayTime: 0,
  })
  </script>
  {% endfor %}
<div>Icons made by <a href="https://www.flaticon.com/authors/tomas-knop" title="Tomas Knop">Tomas Knop</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<script>
$('.ui.dropdown').dropdown()
</script>
</body>
</html>