{% extends 'user/base.html' %}

{% block view %}
<div class="ui horizontal divider">Active Team</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Groups</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  {% for user in user_set %}
    <tr class="{% if user.issues %}error{% endif %}">
      <td><a href="{% url 'user:show' user.id %}">@{{user.username}}</a></td>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td>
      {% for group in user.groups.all %}
        <div class="ui label">{{group.name}}</div>
      {% endfor %}
      </td>
      <td class="right aligned">
        {% if user.issues %}
        {{user.issues|first}}
        <div class="ui red label">{{user.issues|length}}</div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock view %}